body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif,Roboto;
    width: 100%;
    background-color: #F5F5F5;
}

input{
    background: none;
    border: none;    
    box-sizing: border-box;
}

input:focus{
    outline: none;
    border: none;
}